<section>
    <aside class="col-md-3 lateral">
        <div class="info-personal">
            <div class="borde">
                <img [src]="infoPlayList?.images[0].url" alt="">
            </div>
            <div class="row">
                <p class="nombrePlaylist">{{infoPlayList?.name}}</p>
            </div>
            <div class="row">
                <p class="followers">{{infoPlayList?.followers['total']}}</p>
                <p class="titulo"> SEGUIDORES</p>
            </div>
            <div class="row">
                <p>{{infoPlayList?.description}}</p>
            </div>
        </div>
    </aside>
</section>

<section class="contenido">
    <div class="container">
        <div class="row">
            <div class="titulos col-md-12"> <h4>Pistas</h4></div>
            <div class="track col-3" *ngFor="let track of arrTracks" (click)="onClick(track.track.id)">
                <img [src]="track.track.album.images[0]?.url" alt="">
                <p class="titulo">{{track.track?.name}}</p>
                <div class="descripcion col-md-3">
                    <p *ngFor="let artistas of track.track.album.artists"> <span> • </span>{{artistas['name']}}</p>
                </div>
            </div>
        </div>
        <div class="row reproductor">
            <div class="prueba col-md-12">
                <iframe [src]="url | safe" width="100%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
    </div>
</section>
