section
    aside
        background-color: #26292e
        width: 20%
        height: 100%
        position: fixed
        top: 0
        left: 0
        display: flex
        flex-direction: column
        text-align: center
        justify-content: space-around
        padding: 10px
        .info-personal
            text-align: center
            justify-content: center
            align-items: center
            text-align: center
            margin: 0

            p
                color: #fff
            .borde
                border-radius: 50%
                background-color: #2c2f34
                width: 100px
                height: 100px
                justify-content: center
                padding: 10px
                margin: 0 auto
                box-shadow: 0px 0px 20px #151518
                img
                    width: 80px
                    height: 80px
                    border-radius: 50%
            .row
                .nombrePlaylist
                    font-size: 21px
                p
                    font-size: 16px
                .titulo
                    margin: -15px 0 20px 0
                    color: #6c7883
.contenido
    padding-top: 30px
    width: 80%
    background: #2c2f34
    position: relative
    display: flex
    flex-wrap: wrap
    left: 20%
    .container
        .row
            .titulos
                padding: 0 44px
                margin-bottom: 10px
                h4
                    font-size: 34px
                    color: #fff
            display: flex
            flex-wrap: wrap
            justify-content: space-around
            .track
                text-align: left
                width: 200px
                margin: 10px
                cursor: pointer
                .titulo
                    overflow: hidden
                    white-space: nowrap
                    text-overflow: ellipsis
                    max-width: 150px
                    color: #fff
                img
                    width: 100%
                    height: 70%
                    border-radius: 10px
                    box-shadow: 2px 2px 16px #151518
                .descripcion
                    display: flex
                    justify-content: space-between
                    width: 100%
                    color: #5d666e
                    overflow: hidden
                    white-space: nowrap
                    text-overflow: ellipsis
                    max-width: 150px
                    margin: -10px 0 0 0
        .reproductor
            box-shadow: 0px -20px 16px rgba(21, 21, 24, 0.5)
            width: 80%
            position: fixed
            bottom: 0
            padding: 0
            .prueba
                padding: 0
                display: flex
                flex-wrap: wrap
                justify-content: center
