<section>
    <aside class="col-md-3 lateral">
        <div class="info-personal">
            <div class="borde">
                <img [src]="infoUsuario?.images[0].url" alt="">
            </div>
            <div class="row ">
                <p class="usuario">{{infoUsuario?.display_name}}</p>
            </div>
            <div class="row">
                <div class="image">
                    <img src="./assets/spcode-jhon0223.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="row">
                <div class="info col-md-6">
                    <p>{{arrPlayList?.length}}</p>
                    <p class="titulo">PLAYLIST</p>
                </div>
                <div class="info col-md-6">
                    <p>{{infoUsuario?.followers.total}}</p>
                    <p class="titulo">SEGUIDORES</p>
                </div>
            </div>

        </div>
    </aside>
</section>

<section class="contenido">
    <div class="container">
        <div class="row">
            <div class="titulos col-md-12">
                <h4>Tus artistas favoritos</h4>
            </div>
            <div class="playlist col-3" *ngFor="let artist of arrTopArtists">
                <img [src]="artist.images[0].url" alt="">
                <p class="titulo">{{artist.name}}</p>
            </div>
        </div>
        <div class="row">
            <div class="titulos col-md-12">
                <h4>Tus playlists</h4>
            </div>
            <div class="playlist col-3" *ngFor="let playlist of arrPlayList" [routerLink]="['/playlist', playlist.id]">
                <img [src]="playlist.images[0].url" alt="">
                <p class="titulo">{{playlist.name}}</p>
                <div class="descripcion col-md-3">
                    <p class="owner">{{playlist.owner['display_name']}}</p>
                    <p>♫ {{playlist.tracks['total']}}</p>
                </div>
            </div>
        </div>
    </div>
</section>