section
    aside
        background-color: #26292e
        width: 20%
        height: 100%
        position: fixed
        top: 0
        left: 0
        display: flex
        flex-direction: column
        text-align: center
        justify-content: space-around
        .info-personal
            height: 80%
            display: flex
            flex-direction: column
            text-align: center
            justify-content: center
            margin: 0
            p
                color: #fff
            .borde
                border-radius: 50%
                background-color: #2c2f34
                width: 100px
                height: 100px
                justify-content: center
                padding: 10px
                margin: 0 auto
                box-shadow: 0px 0px 20px #151518
                img
                    width: 80px
                    height: 80px
                    border-radius: 50%
            .row
                display: flex
                justify-content: center
                .usuario
                    font-size: 21px
                .info
                    margin-top: 20px
                    p
                        font: 16px
                    .titulo
                        margin: -15px 0 0 0
                        color: #6c7883

                .track
                    .borde
                        border-radius: 50%
                        background-color: #2c2f34
                        width: 80px
                        height: 80px
                        justify-content: center
                        padding: 10px
                        margin: 0 auto
                        box-shadow: 0px 0px 20px #151518
                        img
                            width: 60px
                            height: 60px
                            border-radius: 50%
                .image
                    width: 80%


.contenido
    padding-top: 30px
    width: 80%
    background: #2c2f34
    position: relative
    display: flex
    flex-wrap: wrap
    left: 20%
    .container
        .row
            display: flex
            flex-wrap: wrap
            justify-content: space-around
            .titulos
                padding: 0 44px
                margin-bottom: 10px
                h4
                    font-size: 34px
                    color: #fff
            .playlist
                text-align: left
                width: 200px
                margin: 10px
                cursor: pointer
                .titulo
                    overflow: hidden
                    white-space: nowrap
                    text-overflow: ellipsis
                    max-width: 150px
                    color: #fff
                img
                    width: 100%
                    height: 70%
                    border-radius: 10px
                    box-shadow: 2px 2px 16px #151518
                .descripcion
                    display: flex
                    justify-content: space-between
                    width: 100%
                    color: #6c7883
                    margin: -10px 0 0 0
                    .owner
                        overflow: hidden
                        white-space: nowrap
                        text-overflow: ellipsis
                        max-width: 100px
